body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
}

header > nav {
  display: flex;
  align-items: center;
}

header > nav > a {
  color: hsl(0, 0%, 15%);
  text-decoration: none;
  font-size: 13px;
  margin-right: 15px;
}

header > nav > a:hover {
  text-decoration: underline;
}
