html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header.site-header {
  display: flex;
  justify-content: flex-end;
  padding-right: 28px;
  padding-top: 14px;
}

header.site-header > nav {
  display: flex;
  align-items: center;
}

header.site-header > nav > a {
  color: hsl(0, 0%, 15%);
  text-decoration: none;
  font-size: 13px;
  margin-right: 15px;
}

header.site-header > nav > a:hover {
  text-decoration: underline;
}

header.site-header > nav > button {
  background-color: transparent;
  border: 0;
  display: flex;
  padding: 0;
}

header.site-header > nav > button.menu {
  margin-right: 15px;
  padding: 5px;
}

header.site-header > nav > button.menu > img {
  height: 16px;
  opacity: 50%;
}

header.site-header > nav > button.menu:hover > img {
  opacity: 85%;
}

header.site-header > nav > button.avatar > img {
  height: 32px;
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > img {
  width: 272px;
  margin-bottom: 20px;
}

main > .search-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
main > nav > .search.button {
  margin-left: 10px;
  border: none;
  padding: 10px 15px;
  background-color: #f8f9fa;
  border-radius: 2px;
}

main > nav > .search.button:hover {
  box-shadow: 0 0 0 1px #d2d2d2;
}

main > nav > .search.button:active {
  box-shadow: 0 0 0 1px #4285f4;
}

main > nav > .search.button:focus {
  outline: none;
}

main > nav > .search.button:first-child {
  margin-left: 0;
}

main > .languages {
  font-size: 12px;
  display: flex;
}
main > .languages > a {
  text-decoration: none;
  margin-left: 10px;
}

footer > header,
footer > nav {
  background-color: #f2f2f2;
  border-top: 1px solid #dadce0;
  padding-left: 27px;
  padding-right: 27px;
  line-height: 40px;
  color: #70757a;
}
footer > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer > nav > ul {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
}

footer > nav > ul > li {
  padding-right: 10px;
  padding-left: 10px;
}
footer > nav > ul > li:first-child {
  padding-left: 0;
}
footer > nav > ul > li:last-child {
  padding-right: 0;
}
footer > nav > ul > li > a {
  color: inherit;
  text-decoration: none;
}
